DATABASE_URL=postgresql://postgres:air-admin-password@db:5432/air_db
JWT_ACCESS_SECRET=__JWT_ACCESS_SECRET__
JWT_REFRESH_SECRET=__JWT_REFRESH_SECRET__
NODE_ENV=production
LOG_LEVEL=info
ADMIN_EMAIL=__ADMIN_EMAIL__
ADMIN_PASSWORD=__ADMIN_PASSWORD__
FRONTEND_ORIGIN=https://accueil-insertion-rencontre.fr,https://www.accueil-insertion-rencontre.fr
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=__SMTP_USER__
SMTP_PASS=__SMTP_PASS__
SMTP_FROM=__SMTP_FROM__
FRONTEND_URL=https://accueil-insertion-rencontre.fr
PUBLIC_API_URL=https://accueil-insertion-rencontre.fr/api
PUBLIC_ASSET_URL=https://accueil-insertion-rencontre.fr
API_URL=https://accueil-insertion-rencontre.fr/api
